.navitem {
    padding: 5px;
    border: solid gray 2px;
    margin: 2px;
    text-decoration: none;
    color: blue;
}
.github {
    float: right;
}
a.blogSub {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    text-align: center;
}